.btn{
    background-color: #8000D7;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    border: 2px solid var(--darkgrey);
    min-width: 4rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.outline-btn{
    background-color: var(--bg);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    border: 2px solid var(--white);
    min-width: 4rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}