.btn{
    background-color: var(--btn);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    border: 2px solid var(--btnborder);
    min-width: 4rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.outline-btn{
    background-color: var(--bg);
    color: white;
    margin-top: -5px;
    margin-left: -18px;
    padding: 0.35rem 1.5rem;
    border-radius: 3rem;
    font-weight: 550;
    border: 2px solid var(--white);
    min-width: 4rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    text-shadow: 2px 2px 2px rgb(123, 118, 118);
}