.coin-info-desc{
    padding-bottom: 1rem;
     cursor: pointer;
     color: var(--coinInfoDes);
 }
 .coin-info-heading{
     padding-top: 1rem;
     padding-bottom: 1rem;
     color: var(--coinInfoHeading);
  }
 .coin-info-desc a{
     text-decoration: underline !important;
 }
 .coin-info-desc a:hover{
     color: var(--blue) !important;
     
 }